*[margin=sh]{margin:0.125rem}
*[margin-left=sh]{margin-left:0.125rem}
*[margin-right=sh]{margin-right:0.125rem}
*[margin-top=sh]{margin-top:0.125rem}
*[margin-bottom=sh]{margin-bottom:0.125rem}
*[margin-horizontal=sh]{margin-left: 0.125rem; margin-right: 0.125rem}
*[margin-vertical=sh]{margin-left: 0.125rem; margin-right: 0.125rem}
*[margin=s1h]{margin:0.375rem}
*[margin-left=s1h]{margin-left:0.375rem}
*[margin-right=s1h]{margin-right:0.375rem}
*[margin-top=s1h]{margin-top:0.375rem}
*[margin-bottom=s1h]{margin-bottom:0.375rem}
*[margin-horizontal=s1h]{margin-left: 0.375rem; margin-right: 0.375rem}
*[margin-vertical=s1h]{margin-left: 0.375rem; margin-right: 0.375rem}
*[margin=s2h]{margin:0.625rem}
*[margin-left=s2h]{margin-left:0.625rem}
*[margin-right=s2h]{margin-right:0.625rem}
*[margin-top=s2h]{margin-top:0.625rem}
*[margin-bottom=s2h]{margin-bottom:0.625rem}
*[margin-horizontal=s2h]{margin-left: 0.625rem; margin-right: 0.625rem}
*[margin-vertical=s2h]{margin-left: 0.625rem; margin-right: 0.625rem}
*[margin=s3h]{margin:0.875rem}
*[margin-left=s3h]{margin-left:0.875rem}
*[margin-right=s3h]{margin-right:0.875rem}
*[margin-top=s3h]{margin-top:0.875rem}
*[margin-bottom=s3h]{margin-bottom:0.875rem}
*[margin-horizontal=s3h]{margin-left: 0.875rem; margin-right: 0.875rem}
*[margin-vertical=s3h]{margin-left: 0.875rem; margin-right: 0.875rem}
*[margin=s1]{margin:0.25rem}
*[margin-left=s1]{margin-left:0.25rem}
*[margin-right=s1]{margin-right:0.25rem}
*[margin-top=s1]{margin-top:0.25rem}
*[margin-bottom=s1]{margin-bottom:0.25rem}
*[margin-horizontal=s1]{margin-left: 0.25rem; margin-right: 0.25rem}
*[margin-vertical=s1]{margin-left: 0.25rem; margin-right: 0.25rem}
*[margin=s2]{margin:0.5rem}
*[margin-left=s2]{margin-left:0.5rem}
*[margin-right=s2]{margin-right:0.5rem}
*[margin-top=s2]{margin-top:0.5rem}
*[margin-bottom=s2]{margin-bottom:0.5rem}
*[margin-horizontal=s2]{margin-left: 0.5rem; margin-right: 0.5rem}
*[margin-vertical=s2]{margin-left: 0.5rem; margin-right: 0.5rem}
*[margin=s3]{margin:0.75rem}
*[margin-left=s3]{margin-left:0.75rem}
*[margin-right=s3]{margin-right:0.75rem}
*[margin-top=s3]{margin-top:0.75rem}
*[margin-bottom=s3]{margin-bottom:0.75rem}
*[margin-horizontal=s3]{margin-left: 0.75rem; margin-right: 0.75rem}
*[margin-vertical=s3]{margin-left: 0.75rem; margin-right: 0.75rem}
*[margin=s4]{margin:1.0rem}
*[margin-left=s4]{margin-left:1.0rem}
*[margin-right=s4]{margin-right:1.0rem}
*[margin-top=s4]{margin-top:1.0rem}
*[margin-bottom=s4]{margin-bottom:1.0rem}
*[margin-horizontal=s4]{margin-left: 1.0rem; margin-right: 1.0rem}
*[margin-vertical=s4]{margin-left: 1.0rem; margin-right: 1.0rem}
*[margin=s6]{margin:1.25rem}
*[margin-left=s6]{margin-left:1.25rem}
*[margin-right=s6]{margin-right:1.25rem}
*[margin-top=s6]{margin-top:1.25rem}
*[margin-bottom=s6]{margin-bottom:1.25rem}
*[margin-horizontal=s6]{margin-left: 1.25rem; margin-right: 1.25rem}
*[margin-vertical=s6]{margin-left: 1.25rem; margin-right: 1.25rem}
*[margin=s7]{margin:1.5rem}
*[margin-left=s7]{margin-left:1.5rem}
*[margin-right=s7]{margin-right:1.5rem}
*[margin-top=s7]{margin-top:1.5rem}
*[margin-bottom=s7]{margin-bottom:1.5rem}
*[margin-horizontal=s7]{margin-left: 1.5rem; margin-right: 1.5rem}
*[margin-vertical=s7]{margin-left: 1.5rem; margin-right: 1.5rem}
*[margin=s8]{margin:1.75rem}
*[margin-left=s8]{margin-left:1.75rem}
*[margin-right=s8]{margin-right:1.75rem}
*[margin-top=s8]{margin-top:1.75rem}
*[margin-bottom=s8]{margin-bottom:1.75rem}
*[margin-horizontal=s8]{margin-left: 1.75rem; margin-right: 1.75rem}
*[margin-vertical=s8]{margin-left: 1.75rem; margin-right: 1.75rem}
*[margin=s9]{margin:2.0rem}
*[margin-left=s9]{margin-left:2.0rem}
*[margin-right=s9]{margin-right:2.0rem}
*[margin-top=s9]{margin-top:2.0rem}
*[margin-bottom=s9]{margin-bottom:2.0rem}
*[margin-horizontal=s9]{margin-left: 2.0rem; margin-right: 2.0rem}
*[margin-vertical=s9]{margin-left: 2.0rem; margin-right: 2.0rem}
*[margin=s10]{margin:2.25rem}
*[margin-left=s10]{margin-left:2.25rem}
*[margin-right=s10]{margin-right:2.25rem}
*[margin-top=s10]{margin-top:2.25rem}
*[margin-bottom=s10]{margin-bottom:2.25rem}
*[margin-horizontal=s10]{margin-left: 2.25rem; margin-right: 2.25rem}
*[margin-vertical=s10]{margin-left: 2.25rem; margin-right: 2.25rem}
*[margin=s11]{margin:2.5rem}
*[margin-left=s11]{margin-left:2.5rem}
*[margin-right=s11]{margin-right:2.5rem}
*[margin-top=s11]{margin-top:2.5rem}
*[margin-bottom=s11]{margin-bottom:2.5rem}
*[margin-horizontal=s11]{margin-left: 2.5rem; margin-right: 2.5rem}
*[margin-vertical=s11]{margin-left: 2.5rem; margin-right: 2.5rem}
*[margin=s12]{margin:2.75rem}
*[margin-left=s12]{margin-left:2.75rem}
*[margin-right=s12]{margin-right:2.75rem}
*[margin-top=s12]{margin-top:2.75rem}
*[margin-bottom=s12]{margin-bottom:2.75rem}
*[margin-horizontal=s12]{margin-left: 2.75rem; margin-right: 2.75rem}
*[margin-vertical=s12]{margin-left: 2.75rem; margin-right: 2.75rem}
*[margin=s13]{margin:3.0rem}
*[margin-left=s13]{margin-left:3.0rem}
*[margin-right=s13]{margin-right:3.0rem}
*[margin-top=s13]{margin-top:3.0rem}
*[margin-bottom=s13]{margin-bottom:3.0rem}
*[margin-horizontal=s13]{margin-left: 3.0rem; margin-right: 3.0rem}
*[margin-vertical=s13]{margin-left: 3.0rem; margin-right: 3.0rem}
*[margin=s14]{margin:3.25rem}
*[margin-left=s14]{margin-left:3.25rem}
*[margin-right=s14]{margin-right:3.25rem}
*[margin-top=s14]{margin-top:3.25rem}
*[margin-bottom=s14]{margin-bottom:3.25rem}
*[margin-horizontal=s14]{margin-left: 3.25rem; margin-right: 3.25rem}
*[margin-vertical=s14]{margin-left: 3.25rem; margin-right: 3.25rem}
*[margin=s16]{margin:3.5rem}
*[margin-left=s16]{margin-left:3.5rem}
*[margin-right=s16]{margin-right:3.5rem}
*[margin-top=s16]{margin-top:3.5rem}
*[margin-bottom=s16]{margin-bottom:3.5rem}
*[margin-horizontal=s16]{margin-left: 3.5rem; margin-right: 3.5rem}
*[margin-vertical=s16]{margin-left: 3.5rem; margin-right: 3.5rem}
*[margin=s20]{margin:3.75rem}
*[margin-left=s20]{margin-left:3.75rem}
*[margin-right=s20]{margin-right:3.75rem}
*[margin-top=s20]{margin-top:3.75rem}
*[margin-bottom=s20]{margin-bottom:3.75rem}
*[margin-horizontal=s20]{margin-left: 3.75rem; margin-right: 3.75rem}
*[margin-vertical=s20]{margin-left: 3.75rem; margin-right: 3.75rem}
*[margin=s24]{margin:4.0rem}
*[margin-left=s24]{margin-left:4.0rem}
*[margin-right=s24]{margin-right:4.0rem}
*[margin-top=s24]{margin-top:4.0rem}
*[margin-bottom=s24]{margin-bottom:4.0rem}
*[margin-horizontal=s24]{margin-left: 4.0rem; margin-right: 4.0rem}
*[margin-vertical=s24]{margin-left: 4.0rem; margin-right: 4.0rem}
*[margin=s28]{margin:4.25rem}
*[margin-left=s28]{margin-left:4.25rem}
*[margin-right=s28]{margin-right:4.25rem}
*[margin-top=s28]{margin-top:4.25rem}
*[margin-bottom=s28]{margin-bottom:4.25rem}
*[margin-horizontal=s28]{margin-left: 4.25rem; margin-right: 4.25rem}
*[margin-vertical=s28]{margin-left: 4.25rem; margin-right: 4.25rem}
*[margin=s32]{margin:4.5rem}
*[margin-left=s32]{margin-left:4.5rem}
*[margin-right=s32]{margin-right:4.5rem}
*[margin-top=s32]{margin-top:4.5rem}
*[margin-bottom=s32]{margin-bottom:4.5rem}
*[margin-horizontal=s32]{margin-left: 4.5rem; margin-right: 4.5rem}
*[margin-vertical=s32]{margin-left: 4.5rem; margin-right: 4.5rem}
*[margin=s36]{margin:4.75rem}
*[margin-left=s36]{margin-left:4.75rem}
*[margin-right=s36]{margin-right:4.75rem}
*[margin-top=s36]{margin-top:4.75rem}
*[margin-bottom=s36]{margin-bottom:4.75rem}
*[margin-horizontal=s36]{margin-left: 4.75rem; margin-right: 4.75rem}
*[margin-vertical=s36]{margin-left: 4.75rem; margin-right: 4.75rem}
*[margin=s40]{margin:5.0rem}
*[margin-left=s40]{margin-left:5.0rem}
*[margin-right=s40]{margin-right:5.0rem}
*[margin-top=s40]{margin-top:5.0rem}
*[margin-bottom=s40]{margin-bottom:5.0rem}
*[margin-horizontal=s40]{margin-left: 5.0rem; margin-right: 5.0rem}
*[margin-vertical=s40]{margin-left: 5.0rem; margin-right: 5.0rem}
*[margin=s44]{margin:5.25rem}
*[margin-left=s44]{margin-left:5.25rem}
*[margin-right=s44]{margin-right:5.25rem}
*[margin-top=s44]{margin-top:5.25rem}
*[margin-bottom=s44]{margin-bottom:5.25rem}
*[margin-horizontal=s44]{margin-left: 5.25rem; margin-right: 5.25rem}
*[margin-vertical=s44]{margin-left: 5.25rem; margin-right: 5.25rem}
*[margin=s48]{margin:5.5rem}
*[margin-left=s48]{margin-left:5.5rem}
*[margin-right=s48]{margin-right:5.5rem}
*[margin-top=s48]{margin-top:5.5rem}
*[margin-bottom=s48]{margin-bottom:5.5rem}
*[margin-horizontal=s48]{margin-left: 5.5rem; margin-right: 5.5rem}
*[margin-vertical=s48]{margin-left: 5.5rem; margin-right: 5.5rem}
*[margin=s52]{margin:5.75rem}
*[margin-left=s52]{margin-left:5.75rem}
*[margin-right=s52]{margin-right:5.75rem}
*[margin-top=s52]{margin-top:5.75rem}
*[margin-bottom=s52]{margin-bottom:5.75rem}
*[margin-horizontal=s52]{margin-left: 5.75rem; margin-right: 5.75rem}
*[margin-vertical=s52]{margin-left: 5.75rem; margin-right: 5.75rem}
*[margin=s56]{margin:6.0rem}
*[margin-left=s56]{margin-left:6.0rem}
*[margin-right=s56]{margin-right:6.0rem}
*[margin-top=s56]{margin-top:6.0rem}
*[margin-bottom=s56]{margin-bottom:6.0rem}
*[margin-horizontal=s56]{margin-left: 6.0rem; margin-right: 6.0rem}
*[margin-vertical=s56]{margin-left: 6.0rem; margin-right: 6.0rem}
*[margin=s60]{margin:6.25rem}
*[margin-left=s60]{margin-left:6.25rem}
*[margin-right=s60]{margin-right:6.25rem}
*[margin-top=s60]{margin-top:6.25rem}
*[margin-bottom=s60]{margin-bottom:6.25rem}
*[margin-horizontal=s60]{margin-left: 6.25rem; margin-right: 6.25rem}
*[margin-vertical=s60]{margin-left: 6.25rem; margin-right: 6.25rem}
*[margin=s64]{margin:6.5rem}
*[margin-left=s64]{margin-left:6.5rem}
*[margin-right=s64]{margin-right:6.5rem}
*[margin-top=s64]{margin-top:6.5rem}
*[margin-bottom=s64]{margin-bottom:6.5rem}
*[margin-horizontal=s64]{margin-left: 6.5rem; margin-right: 6.5rem}
*[margin-vertical=s64]{margin-left: 6.5rem; margin-right: 6.5rem}
*[margin=s72]{margin:6.75rem}
*[margin-left=s72]{margin-left:6.75rem}
*[margin-right=s72]{margin-right:6.75rem}
*[margin-top=s72]{margin-top:6.75rem}
*[margin-bottom=s72]{margin-bottom:6.75rem}
*[margin-horizontal=s72]{margin-left: 6.75rem; margin-right: 6.75rem}
*[margin-vertical=s72]{margin-left: 6.75rem; margin-right: 6.75rem}
*[margin=s80]{margin:7.0rem}
*[margin-left=s80]{margin-left:7.0rem}
*[margin-right=s80]{margin-right:7.0rem}
*[margin-top=s80]{margin-top:7.0rem}
*[margin-bottom=s80]{margin-bottom:7.0rem}
*[margin-horizontal=s80]{margin-left: 7.0rem; margin-right: 7.0rem}
*[margin-vertical=s80]{margin-left: 7.0rem; margin-right: 7.0rem}
*[margin=s96]{margin:7.25rem}
*[margin-left=s96]{margin-left:7.25rem}
*[margin-right=s96]{margin-right:7.25rem}
*[margin-top=s96]{margin-top:7.25rem}
*[margin-bottom=s96]{margin-bottom:7.25rem}
*[margin-horizontal=s96]{margin-left: 7.25rem; margin-right: 7.25rem}
*[margin-vertical=s96]{margin-left: 7.25rem; margin-right: 7.25rem}