.mh {margin:0.125rem}
.mlh {margin-left:0.125rem}
.mrh {margin-right:0.125rem}
.mth {margin-top:0.125rem}
.mbh {margin-bottom:0.125rem}
.mhh {margin-left: 0.125rem; margin-right: 0.125rem}
.mvh {margin-bottom: 0.125rem; margin-top: 0.125rem}
.m1h {margin:0.375rem}
.ml1h {margin-left:0.375rem}
.mr1h {margin-right:0.375rem}
.mt1h {margin-top:0.375rem}
.mb1h {margin-bottom:0.375rem}
.mh1h {margin-left: 0.375rem; margin-right: 0.375rem}
.mv1h {margin-bottom: 0.375rem; margin-top: 0.375rem}
.m2h {margin:0.625rem}
.ml2h {margin-left:0.625rem}
.mr2h {margin-right:0.625rem}
.mt2h {margin-top:0.625rem}
.mb2h {margin-bottom:0.625rem}
.mh2h {margin-left: 0.625rem; margin-right: 0.625rem}
.mv2h {margin-bottom: 0.625rem; margin-top: 0.625rem}
.m3h {margin:0.875rem}
.ml3h {margin-left:0.875rem}
.mr3h {margin-right:0.875rem}
.mt3h {margin-top:0.875rem}
.mb3h {margin-bottom:0.875rem}
.mh3h {margin-left: 0.875rem; margin-right: 0.875rem}
.mv3h {margin-bottom: 0.875rem; margin-top: 0.875rem}
.m1 {margin:0.25rem}
.ml1 {margin-left:0.25rem}
.mr1 {margin-right:0.25rem}
.mt1 {margin-top:0.25rem}
.mb1 {margin-bottom:0.25rem}
.mh1 {margin-left: 0.25rem; margin-right: 0.25rem}
.mv1 {margin-bottom: 0.25rem; margin-top: 0.25rem}
.m2 {margin:0.5rem}
.ml2 {margin-left:0.5rem}
.mr2 {margin-right:0.5rem}
.mt2 {margin-top:0.5rem}
.mb2 {margin-bottom:0.5rem}
.mh2 {margin-left: 0.5rem; margin-right: 0.5rem}
.mv2 {margin-bottom: 0.5rem; margin-top: 0.5rem}
.m3 {margin:0.75rem}
.ml3 {margin-left:0.75rem}
.mr3 {margin-right:0.75rem}
.mt3 {margin-top:0.75rem}
.mb3 {margin-bottom:0.75rem}
.mh3 {margin-left: 0.75rem; margin-right: 0.75rem}
.mv3 {margin-bottom: 0.75rem; margin-top: 0.75rem}
.m4 {margin:1.0rem}
.ml4 {margin-left:1.0rem}
.mr4 {margin-right:1.0rem}
.mt4 {margin-top:1.0rem}
.mb4 {margin-bottom:1.0rem}
.mh4 {margin-left: 1.0rem; margin-right: 1.0rem}
.mv4 {margin-bottom: 1.0rem; margin-top: 1.0rem}
.m6 {margin:1.25rem}
.ml6 {margin-left:1.25rem}
.mr6 {margin-right:1.25rem}
.mt6 {margin-top:1.25rem}
.mb6 {margin-bottom:1.25rem}
.mh6 {margin-left: 1.25rem; margin-right: 1.25rem}
.mv6 {margin-bottom: 1.25rem; margin-top: 1.25rem}
.m7 {margin:1.5rem}
.ml7 {margin-left:1.5rem}
.mr7 {margin-right:1.5rem}
.mt7 {margin-top:1.5rem}
.mb7 {margin-bottom:1.5rem}
.mh7 {margin-left: 1.5rem; margin-right: 1.5rem}
.mv7 {margin-bottom: 1.5rem; margin-top: 1.5rem}
.m8 {margin:1.75rem}
.ml8 {margin-left:1.75rem}
.mr8 {margin-right:1.75rem}
.mt8 {margin-top:1.75rem}
.mb8 {margin-bottom:1.75rem}
.mh8 {margin-left: 1.75rem; margin-right: 1.75rem}
.mv8 {margin-bottom: 1.75rem; margin-top: 1.75rem}
.m9 {margin:2.0rem}
.ml9 {margin-left:2.0rem}
.mr9 {margin-right:2.0rem}
.mt9 {margin-top:2.0rem}
.mb9 {margin-bottom:2.0rem}
.mh9 {margin-left: 2.0rem; margin-right: 2.0rem}
.mv9 {margin-bottom: 2.0rem; margin-top: 2.0rem}
.m10 {margin:2.25rem}
.ml10 {margin-left:2.25rem}
.mr10 {margin-right:2.25rem}
.mt10 {margin-top:2.25rem}
.mb10 {margin-bottom:2.25rem}
.mh10 {margin-left: 2.25rem; margin-right: 2.25rem}
.mv10 {margin-bottom: 2.25rem; margin-top: 2.25rem}
.m11 {margin:2.5rem}
.ml11 {margin-left:2.5rem}
.mr11 {margin-right:2.5rem}
.mt11 {margin-top:2.5rem}
.mb11 {margin-bottom:2.5rem}
.mh11 {margin-left: 2.5rem; margin-right: 2.5rem}
.mv11 {margin-bottom: 2.5rem; margin-top: 2.5rem}
.m12 {margin:2.75rem}
.ml12 {margin-left:2.75rem}
.mr12 {margin-right:2.75rem}
.mt12 {margin-top:2.75rem}
.mb12 {margin-bottom:2.75rem}
.mh12 {margin-left: 2.75rem; margin-right: 2.75rem}
.mv12 {margin-bottom: 2.75rem; margin-top: 2.75rem}
.m13 {margin:3.0rem}
.ml13 {margin-left:3.0rem}
.mr13 {margin-right:3.0rem}
.mt13 {margin-top:3.0rem}
.mb13 {margin-bottom:3.0rem}
.mh13 {margin-left: 3.0rem; margin-right: 3.0rem}
.mv13 {margin-bottom: 3.0rem; margin-top: 3.0rem}
.m14 {margin:3.25rem}
.ml14 {margin-left:3.25rem}
.mr14 {margin-right:3.25rem}
.mt14 {margin-top:3.25rem}
.mb14 {margin-bottom:3.25rem}
.mh14 {margin-left: 3.25rem; margin-right: 3.25rem}
.mv14 {margin-bottom: 3.25rem; margin-top: 3.25rem}
.m16 {margin:3.5rem}
.ml16 {margin-left:3.5rem}
.mr16 {margin-right:3.5rem}
.mt16 {margin-top:3.5rem}
.mb16 {margin-bottom:3.5rem}
.mh16 {margin-left: 3.5rem; margin-right: 3.5rem}
.mv16 {margin-bottom: 3.5rem; margin-top: 3.5rem}
.m20 {margin:3.75rem}
.ml20 {margin-left:3.75rem}
.mr20 {margin-right:3.75rem}
.mt20 {margin-top:3.75rem}
.mb20 {margin-bottom:3.75rem}
.mh20 {margin-left: 3.75rem; margin-right: 3.75rem}
.mv20 {margin-bottom: 3.75rem; margin-top: 3.75rem}
.m24 {margin:4.0rem}
.ml24 {margin-left:4.0rem}
.mr24 {margin-right:4.0rem}
.mt24 {margin-top:4.0rem}
.mb24 {margin-bottom:4.0rem}
.mh24 {margin-left: 4.0rem; margin-right: 4.0rem}
.mv24 {margin-bottom: 4.0rem; margin-top: 4.0rem}
.m28 {margin:4.25rem}
.ml28 {margin-left:4.25rem}
.mr28 {margin-right:4.25rem}
.mt28 {margin-top:4.25rem}
.mb28 {margin-bottom:4.25rem}
.mh28 {margin-left: 4.25rem; margin-right: 4.25rem}
.mv28 {margin-bottom: 4.25rem; margin-top: 4.25rem}
.m32 {margin:4.5rem}
.ml32 {margin-left:4.5rem}
.mr32 {margin-right:4.5rem}
.mt32 {margin-top:4.5rem}
.mb32 {margin-bottom:4.5rem}
.mh32 {margin-left: 4.5rem; margin-right: 4.5rem}
.mv32 {margin-bottom: 4.5rem; margin-top: 4.5rem}
.m36 {margin:4.75rem}
.ml36 {margin-left:4.75rem}
.mr36 {margin-right:4.75rem}
.mt36 {margin-top:4.75rem}
.mb36 {margin-bottom:4.75rem}
.mh36 {margin-left: 4.75rem; margin-right: 4.75rem}
.mv36 {margin-bottom: 4.75rem; margin-top: 4.75rem}
.m40 {margin:5.0rem}
.ml40 {margin-left:5.0rem}
.mr40 {margin-right:5.0rem}
.mt40 {margin-top:5.0rem}
.mb40 {margin-bottom:5.0rem}
.mh40 {margin-left: 5.0rem; margin-right: 5.0rem}
.mv40 {margin-bottom: 5.0rem; margin-top: 5.0rem}
.m44 {margin:5.25rem}
.ml44 {margin-left:5.25rem}
.mr44 {margin-right:5.25rem}
.mt44 {margin-top:5.25rem}
.mb44 {margin-bottom:5.25rem}
.mh44 {margin-left: 5.25rem; margin-right: 5.25rem}
.mv44 {margin-bottom: 5.25rem; margin-top: 5.25rem}
.m48 {margin:5.5rem}
.ml48 {margin-left:5.5rem}
.mr48 {margin-right:5.5rem}
.mt48 {margin-top:5.5rem}
.mb48 {margin-bottom:5.5rem}
.mh48 {margin-left: 5.5rem; margin-right: 5.5rem}
.mv48 {margin-bottom: 5.5rem; margin-top: 5.5rem}
.m52 {margin:5.75rem}
.ml52 {margin-left:5.75rem}
.mr52 {margin-right:5.75rem}
.mt52 {margin-top:5.75rem}
.mb52 {margin-bottom:5.75rem}
.mh52 {margin-left: 5.75rem; margin-right: 5.75rem}
.mv52 {margin-bottom: 5.75rem; margin-top: 5.75rem}
.m56 {margin:6.0rem}
.ml56 {margin-left:6.0rem}
.mr56 {margin-right:6.0rem}
.mt56 {margin-top:6.0rem}
.mb56 {margin-bottom:6.0rem}
.mh56 {margin-left: 6.0rem; margin-right: 6.0rem}
.mv56 {margin-bottom: 6.0rem; margin-top: 6.0rem}
.m60 {margin:6.25rem}
.ml60 {margin-left:6.25rem}
.mr60 {margin-right:6.25rem}
.mt60 {margin-top:6.25rem}
.mb60 {margin-bottom:6.25rem}
.mh60 {margin-left: 6.25rem; margin-right: 6.25rem}
.mv60 {margin-bottom: 6.25rem; margin-top: 6.25rem}
.m64 {margin:6.5rem}
.ml64 {margin-left:6.5rem}
.mr64 {margin-right:6.5rem}
.mt64 {margin-top:6.5rem}
.mb64 {margin-bottom:6.5rem}
.mh64 {margin-left: 6.5rem; margin-right: 6.5rem}
.mv64 {margin-bottom: 6.5rem; margin-top: 6.5rem}
.m72 {margin:6.75rem}
.ml72 {margin-left:6.75rem}
.mr72 {margin-right:6.75rem}
.mt72 {margin-top:6.75rem}
.mb72 {margin-bottom:6.75rem}
.mh72 {margin-left: 6.75rem; margin-right: 6.75rem}
.mv72 {margin-bottom: 6.75rem; margin-top: 6.75rem}
.m80 {margin:7.0rem}
.ml80 {margin-left:7.0rem}
.mr80 {margin-right:7.0rem}
.mt80 {margin-top:7.0rem}
.mb80 {margin-bottom:7.0rem}
.mh80 {margin-left: 7.0rem; margin-right: 7.0rem}
.mv80 {margin-bottom: 7.0rem; margin-top: 7.0rem}
.m96 {margin:7.25rem}
.ml96 {margin-left:7.25rem}
.mr96 {margin-right:7.25rem}
.mt96 {margin-top:7.25rem}
.mb96 {margin-bottom:7.25rem}
.mh96 {margin-left: 7.25rem; margin-right: 7.25rem}
.mv96 {margin-bottom: 7.25rem; margin-top: 7.25rem}